In [1]:
#Import the libraries
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Crime = pd.read_csv(r"C:\Users\HP\Data Science\Assignments1\Clustering\crime_data.csv")

In [3]:
Crime.set_index(['Unnamed: 0'],inplace=True)

In [4]:
Crime.head()

            Murder  Assault  UrbanPop  Rape
Unnamed: 0
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [5]:
Crime.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Alabama to Wyoming
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Murder    50 non-null     float64
 1   Assault   50 non-null     int64
 2   UrbanPop  50 non-null     int64
 3   Rape      50 non-null     float64
dtypes: float64(2), int64(2)
memory usage: 2.0+ KB

In [6]:
#dbscan = DBSCAN(eps=0.5, min_samples=12)
dbscan = DBSCAN(eps=0.5, min_samples=12)
dbscan.fit(Crime)

DBSCAN(min_samples=12)

In [7]:
labels=dbscan.labels_

In [8]:
c1=pd.DataFrame(dbscan.labels_,columns=['cluster'])

In [9]:
clustered=pd.concat([Crime,c1],axis=1)

In [10]:
Crime.head()

            Murder  Assault  UrbanPop  Rape
Unnamed: 0
Alabama       13.2      236        58  21.2
Alaska        10.0      263        48  44.5
Arizona        8.1      294        80  31.0
Arkansas       8.8      190        50  19.5
California     9.0      276        91  40.6

In [12]:
Crime.groupby('Labels').agg(['mean'])

KeyError: 'Labels'