In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\hp\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: numpy>=1.17.3 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.22.4)
Requirement already satisfied: joblib>=1.1.1 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: scipy>=1.5.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn) (1.7.1)

In [3]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import silhouette_score, completeness_score

In [4]:
df=pd.read_csv(r"C:\Users\HP\Data Science\Assignments1\Clustering\EastWestAirlines.csv")

In [5]:
df.head()

,ID#,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
0,1,28143,0,1,1,1,174,1,0,0,7000,0
1,2,19244,0,1,1,1,215,2,0,0,6968,0
2,3,41354,0,1,1,1,4123,4,0,0,7034,0
3,4,14776,0,1,1,1,500,1,0,0,6952,0
4,5,97752,0,4,1,1,43300,26,2077,4,6935,1

In [6]:
df.set_index('ID#',inplace=True)

In [7]:
df

,Balance,Qual_miles,cc1_miles,cc2_miles,cc3_miles,Bonus_miles,Bonus_trans,Flight_miles_12mo,Flight_trans_12,Days_since_enroll,Award?
ID#,,,,,,,,,,,
1,28143,0,1,1,1,174,1,0,0,7000,0
2,19244,0,1,1,1,215,2,0,0,6968,0
3,41354,0,1,1,1,4123,4,0,0,7034,0
4,14776,0,1,1,1,500,1,0,0,6952,0
5,97752,0,4,1,1,43300,26,2077,4,6935,1
...,...,...,...,...,...,...,...,...,...,...,...
4017,18476,0,1,1,1,8525,4,200,1,1403,1
4018,64385,0,1,1,1,981,5,0,0,1395,1
4019,73597,0,3,1,1,25447,8,0,0,1402,1
4020,54899,0,1,1,1,500,1,500,1,1401,0
4021,3016,0,1,1,1,0,0,0,0,1398,0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3999 entries, 1 to 4021
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Balance            3999 non-null   int64
 1   Qual_miles         3999 non-null   int64
 2   cc1_miles          3999 non-null   int64
 3   cc2_miles          3999 non-null   int64
 4   cc3_miles          3999 non-null   int64
 5   Bonus_miles        3999 non-null   int64
 6   Bonus_trans        3999 non-null   int64
 7   Flight_miles_12mo  3999 non-null   int64
 8   Flight_trans_12    3999 non-null   int64
 9   Days_since_enroll  3999 non-null   int64
 10  Award?             3999 non-null   int64
dtypes: int64(11)
memory usage: 374.9 KB

In [9]:
scaler=StandardScaler()

In [10]:
scaled_df = scaler.fit_transform(df)

# Build a rough model by taking any value

In [11]:
model = KMeans(n_clusters=4,random_state=42)
model.fit(scaled_df)

C:\Users\HP\anaconda3\lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

AttributeError: 'NoneType' object has no attribute 'split'

In [ ]:
model.labels_

In [ ]:
model.inertia_

In [ ]:
for i in range(1,1):
    print(i)

In [ ]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Assuming scaled_df is your scaled data matrix
wcss = []
for i in range(1, 11):
    model = KMeans(n_clusters=i, random_state=42)
    model.fit(scaled_df)
    wcss.append(model.inertia_)

In [ ]:
wcss

# Draw the Elbow Plot

In [ ]:
plt.plot(range(1,11),wcss)
plt.title('Elbow Plot for Kmeans')
plt.xlabel('K Values')
plt.ylabel('WCSS')
plt.show()

# Build the final model

In [ ]:
final_model=KMeans(n_clusters=3,random_state=42)
final_model.fit(scaled_df)
labels=final_model.labels_

In [ ]:
labels

In [ ]:
df['Labels']=labels

In [ ]:
df.head(15)

In [ ]:
plt.scatter(df['Labels'],df.index,c=labels,cmap='viridis')
plt.xticks([0,1,2])
plt.show()

In [ ]:
grp=df.groupby(['Labels'])
grp

In [ ]:
for x,y in grp:
    print(y)
    print('__________________________________________________________')

In [ ]:
grp.agg(['mean','min','max'])

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# Assuming grp is your grouped DataFrame
grp.hist()

# Display the histograms
plt.show()